@keyframes opacity {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    } 
}

html, body {
    @include toRem(font-size, 14);
    min-width: 375px;
    min-height: 100vh;
    animation: opacity 250ms forwards;
    font-weight: normal;
    color: white;
    overflow-x: hidden;
    letter-spacing: 0.54px;
    font-family: 'Circular Spotify Text', Arial, Helvetica, sans-serif;
    background-color: color(primary, base);
    * {
        &:not([class*="fa"]) {
            font-family: inherit;
        }
    }
    @for $i from 1 through 3 {
        h#{$i} {
            font-weight: bold;
        }
    }  
}

#wrap {
    min-height: 100vh;
}

.container {
    padding-left: 28px;
    padding-right: 28px;
}

.main {
    padding-bottom: 60px;
    @media screen and (min-width: $screen-md-min) {
        padding-bottom: 100px;
    }
}

p {
    line-height: 1.8;
}